[Unit]
Description=BEAMNode Master Launcher Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/BEAMNode_Prototype2/scripts/node
ExecStart=/usr/bin/python3 /home/pi/BEAMNode_Prototype2/scripts/node/launcher.py
Restart=always
RestartSec=10
StandardOutput=append:/home/pi/BEAMNode_Prototype2/logs/launcher.log
StandardError=append:/home/pi/BEAMNode_Prototype2/logs/launcher.log

[Install]
WantedBy=multi-user.target
